In [1]:
import math
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt
import pandas as pd
from IPython import display

In [2]:
dataframe = pd.read_csv("ex_2_metric/dataset.csv")

In [3]:
dataframe

      id        age      height         job       city favorite music style
0      0  30.237071  179.874298    designer      paris                 trap
1      1  27.915796  172.659587     fireman  marseille               hiphop
2      2  32.205338  181.337491     teacher      paris                metal
3      3  26.595215  172.337885    designer   toulouse                metal
4      4  27.394780  182.708030     teacher      paris                metal
..   ...        ...         ...         ...        ...                  ...
195  195  38.768667  169.293654  developper     madrid            classical
196  196  32.041409  176.971060    designer      lille               hiphop
197  197  29.015181  172.990379  developper      paris            classical
198  198  28.889681  172.776664     painter   toulouse                  rap
199  199  32.328622  177.087355     teacher  marseille                 jazz

[200 rows x 6 columns]

In [4]:
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    200 non-null    int64
 1   age                   200 non-null    float64
 2   height                200 non-null    float64
 3   job                   200 non-null    object
 4   city                  200 non-null    object
 5   favorite music style  200 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 9.5+ KB
None

Part calcul job dissimilarity

In [5]:
dataframe["job"].unique()

array(['designer', 'fireman', 'teacher', 'doctor', 'painter',
       'developper', 'engineer'], dtype=object)

I didn't find a way to find dissimilarity between jobs that satisfy me, they where always based on the level of education, the income or the penibility.
So I sort them myself totaly arbritrarly.

Fireman, doctor and teacher are close because they are helpfull jobs.
Doctor, Teacher, engineer and dev are close because they are high level of studies jobs.
I don't know why but I find dev and designer close.
Designer and Painter are artistic jobs so they are close.

fireman /
doctor /
teacher /
engineer /
dev /
designer /
painter

In [6]:
def get_job_number(job):
        if job == 'fireman':
            return 0
        if job == 'doctor':
            return 1
        if job == 'teacher':
            return 2
        if job == 'engineer':        
            return 3
        if job == 'developper':       
            return 4
        if job == 'designer':       
            return 5
        if job == 'painter':
            return 6

In [7]:
def get_job_dissimilarity(j1, j2):
    n1 = get_job_number(j1)   
    n2 = get_job_number(j2)
    return (n1 - n2)**2

In [8]:
dataframe["city"].unique()

array(['paris', 'marseille', 'toulouse', 'madrid', 'lille'], dtype=object)

We will score the dissimilarities of the city with the distances between them

In [21]:
def get_city_pos(city):
        if city == 'paris':
            return (48.8, 2.3)
        if city == 'marseille':
            return (43.3, 5.4)
        if city == 'toulouse':
            return (43.6, 1.4)
        if city == 'madrid':        
            return (40.4, -3.7)
        if city == 'lille':       
            return (50.6, 3.0)

In [10]:
def get_city_dissimilarity(city1, city2):
    c1 = get_city_pos(city1)
    c2 = get_city_pos(city2)
    return math.sqrt((c1[0]-c2[0])**2 + (c1[1]-c2[1])**2)

In [11]:
dataframe["favorite music style"].unique()

array(['trap', 'hiphop', 'metal', 'rock', 'rap', 'classical', 'other',
       'jazz', 'technical death metal'], dtype=object)

I will use this map to map the styles and calcul dissimilarities

In [12]:
def get_style_pos(style):
        if style == 'other':
            return (0, 0)
        if style == 'trap':
            return (-5, 0)
        if style == 'hiphop':        
            return (-5, -1)
        if style == 'metal':       
            return (-1, 5)
        if style == 'rock':
            return (1, -2)
        if style == 'rap':
            return (-5, -2)
        if style == 'classical':
            return (-1, 3)
        if style == 'jazz':        
            return (1, 1)
        if style == 'technical death metal':
            return (0, 5)

In [13]:
def get_music_dissimilarity(music1, music2):
    m1 = get_style_pos(music1)
    m2 = get_style_pos(music2)
    return ((m1[0]-m2[0])**2 + (m1[1]-m2[1])**2)

In [14]:
def get_age_dissimilarity(age1, age2):
    return (age1 - age2)**2

In [15]:
def get_height_dissimilarity(h1, h2):
    return (h1-h2)**2

In [18]:
def compute_dissimilarity(id1, id2):
    age_d = get_age_dissimilarity(dataframe.loc[id1][1], dataframe.loc[id2][1])
    height_d = get_height_dissimilarity(dataframe.loc[id1][2], dataframe.loc[id2][2])
    job_d = get_job_dissimilarity(dataframe.loc[id1][3], dataframe.loc[id2][3])
    city_d = get_city_dissimilarity(dataframe.loc[id1][4], dataframe.loc[id2][4])
    style_d = get_music_dissimilarity(dataframe.loc[id1][5], dataframe.loc[id2][5])
    return age_d + height_d + job_d + city_d + style_d

In [19]:
dataframe.head()

   id        age      height       job       city favorite music style
0   0  30.237071  179.874298  designer      paris                 trap
1   1  27.915796  172.659587   fireman  marseille               hiphop
2   2  32.205338  181.337491   teacher      paris                metal
3   3  26.595215  172.337885  designer   toulouse                metal
4   4  27.394780  182.708030   teacher      paris                metal

In [23]:
compute_dissimilarity(0,2)

56.0150074064606

In [24]:
dissimilarity_matrix = np.zeros((200, 200))
print("compute dissimilarities")
for player_1_id in range(200):
    for player_2_id in range(200):
        dissimilarity = compute_dissimilarity(player_1_id, player_2_id)
        dissimilarity_matrix[player_1_id, player_2_id] = dissimilarity

print("dissimilarity matrix")
print(dissimilarity_matrix)

compute dissimilarities
dissimilarity matrix
[[  0.          89.75385273  56.01500741 ...  74.88136     62.46917781
   64.45511884]
 [ 89.75385273   0.         156.01966041 ...  55.63154882  41.97339327
   83.07816053]
 [ 56.01500741 156.01966041   0.         ...  87.85137587 170.55864102
   44.39233341]
 ...
 [ 74.88136     55.63154882  87.85137587 ...   0.          50.33873418
   46.0775785 ]
 [ 62.46917781  41.97339327 170.55864102 ...  50.33873418   0.
   95.4196021 ]
 [ 64.45511884  83.07816053  44.39233341 ...  46.0775785   95.4196021
    0.        ]]