In [91]:
import numpy as np
import pandas as pd
import os
num_points = 300
num_columns = 6
means = [0, 1, 2, 3, 4, 5]
stds = [1, 2, 3, 4, 5, 6]
data = np.empty((num_points, num_columns))
for i in range(num_columns):
    data[:, i] = np.random.normal(means[i], stds[i], size=num_points)

data[:, 5] = data[:, 5].astype(int)
data[:, 2] = data[:, 2] + 0.5

data[:, 3] = data[:, 3] + 0.5

data[:, 0] = data[:, 0] + data[:, 1]
data[:, 4] = data[:, 4] - data[:, 1]

In [92]:
print(data)
if os.path.exists("artificial_dataset.csv"):
    os.remove("artificial_dataset.csv")
if os.path.exists("artificial_dataset.npy"):
    os.remove("artificial_dataset.npy")
np.savetxt('artificial_dataset.csv', data, delimiter=',')
np.save('artificial_dataset.npy', data)

[[ 4.6715093   4.59425163  7.31771217  4.71733469 -5.32145635  2.        ]
 [-1.09514821  1.34224193  3.92469197  2.52475311  9.91004014  3.        ]
 [ 0.36220242  0.11506949 -3.87287317  5.6536752   4.39784836 13.        ]
 ...
 [ 1.54583794  2.02731994  1.69627225  5.62574128 -5.02898166  1.        ]
 [-1.45912476 -0.72094118  1.11560837  6.51566218  4.40298875  3.        ]
 [ 1.18093573  2.65238598  0.9649199   4.50590328  8.82077185 14.        ]]

In [93]:
data = np.load('artificial_dataset.npy', allow_pickle=False, fix_imports=True)
df = pd.DataFrame(data)

In [94]:
df.describe()

                0           1           2           3           4           5
count  300.000000  300.000000  300.000000  300.000000  300.000000  300.000000
mean     1.033058    1.055563    2.273935    3.562914    2.243255    5.060000
std      2.463685    2.196690    3.033594    3.816264    5.382641    5.848969
min     -6.059576   -5.349498   -6.639274   -7.166266  -10.913177  -13.000000
25%     -0.604589   -0.514899    0.486751    0.840140   -1.565226    1.000000
50%      1.043289    1.109655    2.295266    3.768490    2.283034    4.000000
75%      2.702209    2.603912    4.147340    5.974576    6.241991    9.000000
max      8.864331    7.311076   10.391870   15.904747   16.616598   21.000000